html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
.grid-container {
    position: absolute;
    top:0px;
    bottom:0px;
    right:16px;
    left:16px;
    display: flex;
    flex-direction: column;
    #grid-item-1 {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    #grid-item-2 {
        width:80%;
        height:70%;
        margin: 0 10%;
        overflow: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        #render-container {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            progress {
                width: 60%;
            }
        }
        #simulation-button {
            margin: 20px;
            background-color: #1e1e1e;//rgb(39, 79, 83);
            border-radius: 6px;
        }
    }
}