html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

main{
    flex-grow: 0.985;
    position: relative;
    article{
            top: 0px;
            right:0px;
            left:0px;
            bottom: 0px;
            .background-container{
                position: absolute;
                top: 0px;
                right:0px;
                left:0px;
                bottom: 0px;
                z-index: -100;
                .frontground-video {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    z-index: -100;
                }
            }
            .children-container{
                position: absolute;
                top: 0;
                right:0;
                left:0;
                bottom: 0;
                z-index: 1;
                background-color: black;
                opacity: 0.8;
            }
    }
}
footer {
    
    ul {
        position: absolute;
        top:0px;
        bottom: 0px;
        left:0px;
        right:0px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}