
#render-container {
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right: 0px;
    color: #37474F;
    display: flex;
    justify-content: center;

    #curling-logo-container {
        position: absolute;
        top:5vh;
        color:rgb(255,255,255);
        p {
            font-size: 5vw;
            font-family: 'Blippo', fantasy;
            color:whitesmoke;
        }
    }
    #game-option-container {
        position: absolute;
        bottom:5vh;
        .vertical-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                margin-bottom:2vh;
                font-size: 2vw;
                width: 100%;
                background-color: rgb(255,255,255);
                font-family: 'Blippo', fantasy;
            }
        }
        .vertical-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                font-size: 2vw;
                width: 100%;
                background-color: rgb(255,255,255);
                font-family: 'Blippo', fantasy;
            }
            .horizontal-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                font-family: 'Blippo', fantasy;
                font-size: 2vw;
                p {
                    margin: 0;
                    margin-right: 2vw;
                }
            }
        }
        #infos-div{
            #infos-text{
                background: rgba(0, 0, 0, 0.4);
                font-size: 1.5vw;
                color: white;
            }
            button{
                font-size: 1.5vw;
                width: auto;
                background-color: rgb(255,255,255);
                font-family: 'Blippo', fantasy;
            }
        }
        
    }
    #game-info-container {
        position: absolute;
        top: 0px;
        bottom:0px;
        left:0px;
        right: 0px;
        #player1-infos {
            position: absolute;
            width: 30px;
            padding: 0px;
            margin: 0px;
            left:2px;
            #player1-stones-indicator{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        #round-div {
            position: absolute;
            z-index: 2;
            top:0px;
            left:47%;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
        }
        #player-div{
            position: absolute;
            z-index: 2;
            top:60px;
            left:47%;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
        #score-div {    
            z-index: 6;
        }
        #player2-infos {
            position: absolute;
            width: 30px;
            padding: 0px;
            margin: 0px;
            right:2px;
            #player2-stones-indicator{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    #shooting-progress-div {
        position: absolute;
        bottom: 2vh;
        left: 5vw;
        right: 5vw;
        height: 2vh;
        background-color: transparent; 
        border: 1px solid rgb(0,0,0) ;
        border-radius: 8px;
        display: none;
        flex-direction: row;
        #real-progress-div {
            margin: 0%;
            background: forestgreen;
        }
    }
}