html {
    overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.chess-container
{
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right: 0px;
    .normal-container
    {
        position: absolute;
        top: 0px;
        bottom:0px;
        left:0px;
        right: 0px;
        color: #37474F;
        display: flex;
        justify-content: center;
    }
    .mobile-container
    {
        position: absolute;
        color: #37474F;
        margin: 0 auto;
        top: 25%;
        bottom:25%;
        left:0px;
        right: 0px;
    }
    svg
    {
        position: absolute;
        width: 100px;
        height: 100px;
        margin: 0px;
        margin-left: 10px;
    }
    .chess-menu-button
    {
        position: absolute;
        top: 40px;
        right: 30px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .chess-menu
    {
        position: absolute;
        // width: 25%;
        top: 4%;
        bottom:0px;
        right:0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family:'Courier New', monospace; 
        overflow: scroll;
        .menu-section
        {
            border-bottom: white;
            display:inline-block;
            margin-bottom: 6px;
            min-width: 400px;
            .choice-title
            {
                text-align: center;
                color: white;
                text-decoration: underline;
            }
            .choice-container
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .section-button
                {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 0%;
                }
                p
                {
                    text-align: center;
                    margin: 4% 8%;
                    color: white;
                }
            }
        }
        #play-button
        {
            margin: 0 auto;
        }
    }

    .pawn-promotion-container
    {
        width: 25%;
        position: absolute;
        border-radius: 25px;
        opacity: 0.8;
        padding: 5px;
        top: 40px;
        right:10px;
        font-family:'Courier New', monospace; 
        background-color: whitesmoke;

        .button-container
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            #promotion-button
            {
                border-radius: 25px;
            }
        }
    }
    
}

  
